*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.account-login{
    margin: 10rem 0;
}

.account-login form{
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
}

.account-login form label{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.account-login form input{
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.account-login #submit{
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    background-color: #2991cc;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.account-login #submit:hover{
    background-color: #145d8e;
}

.account-login h2{
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 2rem 0;
}

.account-login h3{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0;
    text-decoration: underline;
}
